name: Keycloak_build

on:
  workflow_dispatch:    # manual trigger from GitHub UI
  #push:
  #  branches: [ main ]  # optional: build on pushes to main

env:
  VERSION: "26.5.1" 

jobs:
  build:    
    name: Building...   
    runs-on: ubuntu-latest
    
    steps:
    - name: Debug information
      run: |
        echo "VERSION: ${{ env.VERSION }}"
        echo "runner: ${{ runner.OS }}"
        
    - name: Checkout source
      uses: actions/checkout@v5        
      with:
        repository: keycloak/keycloak
        ref: ${{ env.VERSION }}       
   
    - name: Set up JDK 21 
      uses: actions/setup-java@v4 
      with: 
        distribution: temurin 
        java-version: 21 
        cache: maven

    - name: Cache SonarCloud packages 
      uses: actions/cache@v4 
      with: 
        path: ~/.sonar/cache 
        key: ${{ runner.os }}-sonar 
        restore-keys: ${{ runner.os }}-sonar

    - name: Build Keycloak (skip tests)       
      run: mvn -B install -DskipTests -Pdistribution
        
    - name: Print current folder path      
      run: |
          echo "Current folder path is: $PWD"  \
          find . -type f -name "*.zip" -o -name "*.tar.gz"

    - name: Run SonarCloud analysis             
      run: | 
        mvn -B sonar:sonar \
        -Dsonar.projectKey=${{ secrets.SONAR_PROJECT4 }} \
        -Dsonar.organization=${{ secrets.SONAR_ORG }} \
        -Dsonar.host.url=https://sonarcloud.io \
        -Dsonar.login=${{ secrets.SONAR_TOKEN4 }}
          
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: Keycloak_${{ env.VERSION }}        
        path: |
            quarkus/dist/target/*.zip
            quarkus/dist/target/*.tar.gz
        if-no-files-found: error
